#color-collection {
    padding: 0 0 170px;
}

#color-collection .container:after {
    content: "";
    display: table;
    clear: both;
}

#color-collection .left-side {
    width: 60%;
    display: inline-block;
    float: left;
    text-align: center;
}



#color-collection .left-side img{
    width: 80%;
    display: inline-block;
    float: left;
}

#color-collection .right-side {
    width: 40%;
    display: inline-block;
    float: left;
}

#color-collection .right-side :after {
    content: "";
    display: table;
    clear: both;
}

#color-collection .right-side .swatch-area {
    background: white;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 45px;
    margin-top: 150px;
    margin-bottom: 40px;
}

#color-collection .right-side .swatch-area:after {
    content: "";
    display: table;
    clear: both;
}

#color-collection .right-side .swatch-area .circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

#color-collection .right-side .swatch-area .circle:nth-child(1){
    background: #e4c3e5; /* Old browsers */
    background: -moz-linear-gradient(left, #e4c3e5 0%, #c85ec7 55%, #a849a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e4c3e5 0%,#c85ec7 55%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e4c3e5 0%,#c85ec7 55%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection .right-side .swatch-area .circle:nth-child(2){
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(left, #ffb76b 0%, #ffa73d 30%, #ff7c00 59%, #ff7c00 59%, #ff7f04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffb76b 0%,#ffa73d 30%,#ff7c00 59%,#ff7c00 59%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffb76b 0%,#ffa73d 30%,#ff7c00 59%,#ff7c00 59%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection .right-side .swatch-area .circle:nth-child(3){
    background: #a9e4f7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-right: 0;
}

#color-collection .right-side .info-box{
    max-width: 290px;
    width: 100%;
    background: white;
    padding: 40px 20px;
    display: inline-block;
    text-align: center;
}

#color-collection .right-side .info-box h2{
    font-size: 2rem;
}

#color-collection .right-side .info-box h2 span{
    display: block;
    text-align: center;
}

#color-collection .right-side .info-box h2 span.orange{
    color: #FEA83B;
    font-weight: 100;
}

#color-collection .right-side .info-box h2 span.blue{
    color: #4C44C1;
}

#color-collection .right-side .info-box h2 span.purple{
    color: #B286F8;
    font-weight: 100;
}

#color-collection .right-side .info-box p{
    color: #aaacaf;
    font-size: .8rem;
    margin: 40px 0;
}

#color-collection .right-side .info-box a{
    color: #4C44C1;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 40px 0 20px;
    display: block;
}

#color-collection .right-side .info-box .line{
    background: #4C44C1;
    height: 2px;
    width: 50px;
    display: inline-block;
}

#color-collection .right-side .color-slider {
    position: relative;
    width: 20px;
    height: 640px;
    border-radius: 40px;
    background: #ff7400; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7400 0%, #ba00e0 21%, #1800f2 43%, #00b3e5 66%, #00b3e5 66%, #ff7400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff7400 0%,#ba00e0 21%,#1800f2 43%,#00b3e5 66%,#00b3e5 66%,#ff7400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff7400 0%,#ba00e0 21%,#1800f2 43%,#00b3e5 66%,#00b3e5 66%,#ff7400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection .right-side .color-slider .picker{
    width: 20px;
    height: 20px;
    border: 10px solid white;
    border-radius: 50%;
    background: #234BE8;
    box-sizing: content-box;
    position: absolute;
    top: 200px;
    left: -10px;
}

#color-collection .right-side .col-1 {
    float: left;
    width: 80%;
}

#color-collection .right-side .col-2 {
    float: left;
    width: 20%;
}
