#latest {
    padding: 50px 0;
}

#latest .header{
    padding: 50px 0;
}

#latest .header:after {
    content: "";
    display: table;
    clear: both;
}

#latest .header h1 {
    color: #6066F2;
    font-size: 4.2rem;
    max-width: 400px;
    width: 100%;
    float: left;
    display: inline-block;
}

#latest .header .directions {
    float: right;
    display: inline-block;
    position: relative;
    top: 35px;
}

#latest .header .directions .move-left{
    float: left;
    padding: 20px 70px;
    font-size: 3rem;
    background: #6066F2;
    color: white;
    border: 1px solid #6066F2;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#latest .header .directions .move-right{
    float: right;
    padding: 20px 70px;
    font-size: 3rem;
    background: white;
    color: #cecece;
    border: 1px solid #cecece;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#latest .body {
    padding: 100px 0;
}

#latest .body:after {
    content: "";
    display: table;
    clear: both;
}

#latest .body .column {
    width: 33.33%;
    float: left;
    padding: 0 15px;
    text-align: center;
}

#latest .body .column .bg-square {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: #f7184c; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f7184c 0%, #e570e7 23%, #6634db 47%, #346be2 72%, #c536ed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f7184c 0%,#e570e7 23%,#6634db 47%,#346be2 72%,#c536ed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f7184c 0%,#e570e7 23%,#6634db 47%,#346be2 72%,#c536ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;
}

#latest .body .column .bg-square img{
    width: 100%;
    position: absolute;
    top: -25%;
    left: -1%;
}

#latest .body .column .bg-square .cart{
    width: 94px;
    height: 94px;
    position: absolute;
    top: -15%;
    right: -47px;
    border: 10px solid white;
    border-radius: 50%;
    color: white;
    background: #f7184c; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f7184c 0%, #e570e7 23%, #6634db 47%, #346be2 72%, #c536ed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f7184c 0%,#e570e7 23%,#6634db 47%,#346be2 72%,#c536ed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f7184c 0%,#e570e7 23%,#6634db 47%,#346be2 72%,#c536ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#latest .body .column .bg-square .cart .fas{
    font-size: 2rem;
    position: relative;
    top: 22px;
    left: -3px;
}

#latest .body .column .line{
    width: 20%;
    height: 2px;
    background: #6066F2;
    margin: 50px auto;
    display: inline-block;
}

#latest .body .column .price{
    color: #FEA83B;
    font-weight: 700;
    font-size: 2.3rem;
}

#latest .footer{
    text-align: center;
    position: relative;
}

#latest .footer img{
    width: 40%;
    z-index: 1;  
    position: absolute;
    top: 0px;
    left: 30%;
    -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) invert(100%);
    opacity: .3;
    transform: rotate(25deg);
}

#latest .footer .info-box{
    position: relative;
    z-index: 2;
    padding: 200px 0;
}

#latest .footer .info-box h2{
    color: #6066F2;
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 60px;
}



#latest .footer .info-box .input-area{
    background: white;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

#latest .footer .info-box .input-area:nth-of-type(1){
    padding: 21px;
}

#latest .footer .info-box .input-area .fas{
    color: #4C44C1;
    opacity: .3;
    font-size: 1.8rem;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

#latest .footer .info-box .input-area input {
    outline: none;
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #4C44C1;
    width: 230px;
    background: white;
    padding: 10px;
}

#latest .footer .info-box .input-area input::placeholder {
    color: #4C44C1;
    opacity: 0.7;
}

#latest .footer .info-box .input-area button{
    background: #6066F2;
    padding: 20px 40px;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Laptops Devices */
@media only screen and (max-width: 1215px) {
    
}
/* Tablets Devices*/
@media only screen and (max-width: 1070px) {
    #latest .header h1 {
        font-size: 3.5rem;
    }
    #latest .header .directions {
        top: 18px;
    }
    #latest .body {
        padding: 100px 0;
        padding-bottom: 0;
    }
    #latest .body .column {
        width: 50%;
        margin-bottom: 150px;
    }
    #latest .footer img {
        width: 50%;
        z-index: 1;
        position: absolute;
        top: 100px;
        left: 30%;
        -webkit-filter: grayscale(100%) invert(100%);
        filter: grayscale(100%) invert(100%);
        opacity: .3;
        transform: rotate(25deg);
    }
    #latest .footer .info-box h2 {
        color: #6066F2;
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 821px) {
    #latest .header .directions {
        top: -94px;
    }
    #latest .body {
        padding: 100px 0;
        padding-bottom: 0;
    }
    #latest .footer .info-box .input-area {
        width: 100%;
    }
    #latest .footer .info-box .input-area:nth-of-type(1) {
        padding: 21px;
        margin-bottom: 10px;
        
    }
    #latest .footer .info-box .input-area .fas {
        position: relative;
        top: 14px;
        margin-left: 0;
        float: left;
        width: 15%;
        text-align: center;
    }
    #latest .footer .info-box .input-area input {
        width: 50%;
        float: left;
        position: relative;
        top: 12px;
    }
    #latest .footer .info-box .input-area button {
        width: 35%;
        padding: 20px 0;
        float: left;
    }
}
/* Mobile Devices */
@media only screen and (max-width: 767px) {
    #latest .header {
        text-align: center;
    }
    #latest .header h1 {
        font-size: 3rem;
        text-align: center;
        width: 100%;
        max-width: none;
    }
    #latest .header .directions {
        float: none;
        display: inline-block;
        position: static;
        top: 0;
        margin: 50px auto;
    }
    #latest .body {
        padding: 100px 0;
        padding-bottom: 0;
    }
    #latest .body .column {
        width: 100%;
        margin-bottom: 150px;
    }
    #latest .footer img {
        width: 50%;
    }
    #latest .footer .info-box h2 {
        color: #6066F2;
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 60px;
    }
    #latest .footer .info-box .input-area {
        width: 100%;
    }
    #latest .footer .info-box .input-area:nth-of-type(1) {
        padding: 21px;
        margin-bottom: 10px;
    }
    #latest .footer .info-box .input-area .fas {
        position: relative;
        top: 14px;
        margin-left: 0;
        float: left;
        width: 15%;
        text-align: center;
    }
    #latest .footer .info-box .input-area input {
        width: 50%;
        float: left;
        position: relative;
        top: 12px;
    }
    #latest .footer .info-box .input-area button {
        width: 35%;
        padding: 20px 0;
        float: left;
    }
}