#top-jumbo {
    padding: 0 0 400px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 38%, #b37bf7 64%, #fc9fe9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 38%,#b37bf7 64%,#fc9fe9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#ffffff 38%,#b37bf7 64%,#fc9fe9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#top-jumbo::after {
    content: "";
    display: table;
    clear: both;
}

#top-jumbo .left-side {
    width: 40%;
    display: inline-block;
    float: left;
}

#top-jumbo .left-side .large-number {
    font-size: 300px;
    font-weight: 700;
    opacity: .1;
    color: #4C44C1;
    position: relative;
    left: -22px;
    top: 0;
    z-index: 1;
}

#top-jumbo .left-side .info-container{
    position: relative;
    top: -100px;
}

#top-jumbo .left-side .info-container h1{
    color: #6066F2;
    font-size: 4.2rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

#top-jumbo .left-side .info-container p{
    color: #aaacaf;
    line-height: 1.8;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

#top-jumbo .left-side .info-container .email-area{
    background: white;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
}

#top-jumbo .left-side .info-container .email-area .fas{
    color: #4C44C1;
    opacity: .3;
    font-size: 1.8rem;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

#top-jumbo .left-side .info-container .email-area input[type="email"]{
    outline: none;
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #4C44C1;
    width: 230px;
    background: white;
    padding: 10px;
}

#top-jumbo .left-side .info-container .email-area input[type="email"]::placeholder{
    color: #4C44C1;
    opacity: 0.7;
}

#top-jumbo .left-side .info-container .email-area button{
    background: #6066F2;
    padding: 20px 40px;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

#top-jumbo .right-side {
    width: 60%;
    display: inline-block;
    float: left;
    padding: 0 40px;
}

#top-jumbo .right-side img{
    width: 100%;
}

/* Laptops Devices */
@media only screen and (max-width: 1215px) {
    
}
/* Tablets Devices*/
@media only screen and (max-width: 1023px) {
    
}
/* Mobile Devices */
@media only screen and (max-width: 767px) {
    
}